## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import requests
import gmaps.datasets

# Import API key
from configGmap import gkey

# Configure gmaps API key
gmaps.configure(gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file. / 5. In Step 1 import the WeatherPy...
city_data_df = pd.read_csv("weather_data/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Albany,US,42.6001,-73.9662,71.73,94,86,4.70,overcast clouds,2022-07-06 06:14:54
1,1,Miramar,US,25.9873,-80.2323,83.01,87,20,3.44,few clouds,2022-07-06 06:14:55
2,2,Cockburn Town,TC,21.4612,-71.1419,81.50,73,7,19.55,clear sky,2022-07-06 06:14:55
3,3,Port Alfred,ZA,-33.5906,26.8910,58.17,96,72,3.00,broken clouds,2022-07-06 06:09:02
4,4,Laas,IT,46.6166,10.7002,62.69,75,15,4.61,few clouds,2022-07-06 06:14:56

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# 6. In Step 2, write two input statements that prompt...
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# In Step 3, use the loc method to filter the city_data_df DataFrame for temperature criteria...
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Miramar,US,25.9873,-80.2323,83.01,87,20,3.44,few clouds,2022-07-06 06:14:55
2,2,Cockburn Town,TC,21.4612,-71.1419,81.50,73,7,19.55,clear sky,2022-07-06 06:14:55
10,10,Rikitea,PF,-23.1203,-134.9692,75.27,78,25,22.73,light rain,2022-07-06 06:14:59
18,18,Barentu,ER,15.1139,37.5928,79.75,52,14,6.71,few clouds,2022-07-06 06:15:02
21,21,Dingle,PH,10.9995,122.6711,85.48,74,81,3.00,light rain,2022-07-06 06:15:03

In [5]:
# 4a. Determine if there are any empty rows.
# In Steps 4a-b, determine if there are any empty rows, then drop them if necessary and create a new DataFrame.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# In Steps 4a-b, determine if there are any empty rows, then drop them if necessary and create a new DataFrame.
clean_df = preferred_cities_df
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Miramar,US,25.9873,-80.2323,83.01,87,20,3.44,few clouds,2022-07-06 06:14:55
2,2,Cockburn Town,TC,21.4612,-71.1419,81.50,73,7,19.55,clear sky,2022-07-06 06:14:55
10,10,Rikitea,PF,-23.1203,-134.9692,75.27,78,25,22.73,light rain,2022-07-06 06:14:59
18,18,Barentu,ER,15.1139,37.5928,79.75,52,14,6.71,few clouds,2022-07-06 06:15:02
21,21,Dingle,PH,10.9995,122.6711,85.48,74,81,3.00,light rain,2022-07-06 06:15:03
...,...,...,...,...,...,...,...,...,...,...,...
701,701,Nioro,GM,13.3500,-15.7500,77.92,82,89,6.73,overcast clouds,2022-07-06 06:20:12
703,703,Ust'-Kulom,RU,61.6864,53.6902,77.72,40,61,4.88,broken clouds,2022-07-06 06:20:13
704,704,Delījān,IR,33.9905,50.6838,78.66,24,0,3.00,clear sky,2022-07-06 06:20:14
706,706,Puteyets,RU,65.1716,57.0910,75.72,47,5,1.45,clear sky,2022-07-06 06:20:15
709,709,Boa Vista,BR,2.8197,-60.6733,76.98,88,0,3.44,clear sky,2022-07-06 06:20:16

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# In Steps 5a-b, use the provided code to create a new DataFrame, hotel_df...
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Miramar,US,83.01,few clouds,25.9873,-80.2323,
2,Cockburn Town,TC,81.50,clear sky,21.4612,-71.1419,
10,Rikitea,PF,75.27,light rain,-23.1203,-134.9692,
18,Barentu,ER,79.75,few clouds,15.1139,37.5928,
21,Dingle,PH,85.48,light rain,10.9995,122.6711,
23,Taitung City,TW,89.87,scattered clouds,22.7583,121.1444,
24,Luganville,VU,79.68,overcast clouds,-15.5333,167.1667,
26,Kavaratti,IN,81.59,moderate rain,10.5669,72.6420,
27,Kiryat Gat,IL,80.40,few clouds,31.6100,34.7642,
30,Sri Aman,MY,84.27,light rain,1.2376,111.4621,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
# 10. In Step 6a, we have supplied the search parameters, which are the same as in this module...
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
# 11. In Steps 6b-f, iterate through the hotel_df DataFrame, retrieve the latitude and longitude of each city...
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError, ConnectionError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
# 7. Drop the rows where there is no Hotel Name.
# In Step 7, drop any rows in the hotel_df DataFrame where a hotel name is not found.
# hotel_df.isnull().sum() - Shows no nulls in the data.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Miramar,US,83.01,few clouds,25.9873,-80.2323,Stadium Hotel
2,Cockburn Town,TC,81.50,clear sky,21.4612,-71.1419,Osprey Beach Hotel
10,Rikitea,PF,75.27,light rain,-23.1203,-134.9692,People ThankYou
18,Barentu,ER,79.75,few clouds,15.1139,37.5928,
21,Dingle,PH,85.48,light rain,10.9995,122.6711,SEGAYA PROPERTY

In [22]:
# 13.In Steps 8a-b, create an output file to store the hotel_df DataFrame
# as WeatherPy_vacation.csv in the Vacation_Search folder.
clean_hotel_df = hotel_df
#8a. Create the output File (CSV)
output_data_file = "weather_data/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 14. In Step 9, add the city name, the country code, the weather...
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Max Temp} °F and {Current Description}.</dd>
</dl>
"""

# 15. In Step 10a, use the provided list comprehension code to retrieve the city data...
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 16. In Step 10b, use the provided code snippet to retrieve the latitude and longitude ...
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [33]:
#  17. In Steps 11a-b, refactor your previous marker layer map code to create a marker layer map...
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))